@model IEnumerable<Wodin.Models.MenuLi>

@{
    ViewData["Title"] = "Listagem SubMenus";
}

<h2>@ViewData["Title"]</h2>
<h2>@ViewData["Message"]</h2>
<p>
    <a asp-action="Create" class="btn btn-default" title="Deseja cadastrar novo menu li?"><span class="glyphicon glyphicon-plus-sign"></span> Novo</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color col-sm-4">
        <p>
            @Html.DisplayNameFor(model => model.MenuUlId): @Html.DropDownList("filtroMenu", "Todos")
        </p>
    </div>
    <div class="form-actions no-color col-sm-4">
        <p>
            SubMenu : <input type="search" name="filtro" id="filtro" value="@ViewData["filtro"]" />
        </p>
    </div>
    <div class="form-actions no-color col-sm-4 text-right">
        <p>
            <input type="reset" value="Limpar" class="btn btn-default" />
            <input type="submit" value="Filtrar" class="btn btn-default" />
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuUlId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubMenu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuUl.Menu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubMenu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id" title="Editar o menu"><span class="glyphicon glyphicon-edit"></span></a>
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id" title="Detalhes do menu"><span class="glyphicon glyphicon-eye-open"></span></a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id" title="Deletar o menu"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
