@model IEnumerable<Wodin.Models.SubMenu>

@{
    ViewData["Title"] = "Listagem SubMenus";
}

<h2>@ViewData["Title"]</h2>
<h2>@ViewData["Message"]</h2>
<p>
    <a asp-action="Create" class="btn btn-default" title="Deseja cadastrar novo submenu?"><span class="glyphicon glyphicon-plus-sign"></span> Novo</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color col-sm-4">
        <p>
            @Html.DisplayNameFor(model => model.MenuId): @Html.DropDownList("filtroMenu", "Todos")
        </p>
    </div>
    <div class="form-actions no-color col-sm-4">
        <p>
            SubMenu : <input type="search" name="filtro" id="filtro" value="@ViewData["filtro"]" />
        </p>
    </div>
    <div class="form-actions no-color col-sm-4 text-right">
        <p>
            <input type="reset" value="Limpar" class="btn btn-default" onclick="this.form.reset();return false" />
            <input type="submit" value="Filtrar" class="btn btn-default" />
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubMenus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Controller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubMenus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Controller)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Menu.Menus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id" title="Editar o SubMenu"><span class="glyphicon glyphicon-edit"></span></a>
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id" title="Detalhes do SubMenu"><span class="glyphicon glyphicon-eye-open"></span></a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id" title="Deletar o SubMenu"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
        }
    </tbody>
</table>
