@model IEnumerable<Wodin.Models.PrazoPagamento>

@{
    ViewData["Title"] = "Listagem de Prazos de Pagamentos";
}


<h2>@ViewData["Title"]</h2>
<h2>@ViewData["Message"]</h2>
<p>
    <a asp-action="Create" class="btn btn-default" title="Deseja cadastrar novo Prazo de pagamento?"><span class="glyphicon glyphicon-plus-sign"></span> Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parcelas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimeiraParcela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiasParcela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Limite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrazoMedio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaixaLancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrazoPagamentoTipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Parcelas)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.PrimeiraParcela)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.DiasParcela)
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.Limite)
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.PrazoMedio)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.BaixaLancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrazoPagamentoTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.Fantasia)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id" title="Editar o prazo de pagamento"><span class="glyphicon glyphicon-edit"></span></a>
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id" title="Detalhes do prazo de pagamento"><span class="glyphicon glyphicon-eye-open"></span></a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id" title="Deletar o prazo de pagamento"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
        }
    </tbody>
</table>
